<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <!-- Google Icon -->
    <link
            href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
            rel="stylesheet">

    <style>
        .container{
            background-color: gainsboro;
            width:200px;
            height: 82px;
        }
        .profile {
            display: flex;
            align-items: center;
        }

        .human {
            width: 80px;
            height: 80px;
            margin: 50px 10%;
        }

    </style>
</head>
<body>
    <div class="profile">
        <img src="Vector.png" alt="프로필" class="human">
    <div class="container">
        자유로운 다람쥐 <br> 저는 도토리를 좋아해요
    </div>
    </div>
    <div style="border-top: solid 2px rgba(50,50,50,0.1); width: 100%">

        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin: 20px">
            <div img src="Heart Border.png" style="cursor: pointer;margin: 0 30px;display: flex; flex-direction: row;align-items: center"><span class="material-icons-outlined">grid_on</span>판매 내역</div>
        </div>
    
        <hr align="center" style="border: solid 1px gray; width: 100%;">
    
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin: 20px">
            <div id="button_feed_like_list" style="cursor: pointer;margin: 0 30px;display: flex; flex-direction: row;align-items: center"><span class="material-icons-outlined">favorite_border</span>찜한 상품</div>
        </div>
        <hr align="center" style="border: solid 1px gray; width: 100%;">
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin: 20px">
            <div id="button_feed_bookmark_list" style="cursor: pointer;margin: 0 30px;display: flex; flex-direction: row;align-items: center"><span class="material-icons-outlined">bookmark_border</span>구매 내역</div>
        </div>
        <hr align="center" style="border: solid 1px gray; width: 100%;">
</body>
</html>

