<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="suho.css">
    <title>main</title>
</head>
<body>
    <header class="header">
        <div class="f">
            <div id="input_box">
            <input type="text" placeholder="검색어를 입력해주세요">
            </div>
            <div class="box">
                <img src="bear.jpg" alt="프로필" class="profile">
            </div>
        </div>
        <div>
            <button class="array_botton">최신순</button>
            <button class="array_botton">인기순</button>
            <button class="array_botton">가격 낮은 순</button>
        </div>

    </header>
    <hr>
    <div class="container">
        <img src="bear.jpg" alt="예시사진" class="ex_img">
        <div class="num">수량 3</div>
        <div>
            <img src="heart.jpg" alt="하트" class="heart">
            <div>스팸</div>
        </div>
        <div>1인당 예상 금액 6000원</div>
        <div>
            <img src="Vector.svg" alt="사람" class="human">
            <div>8/10</div>
        </div>
    </div>
    <button class="write_botton">
        <img src="Group 1.svg" alt="글쓰기" class="write">
    </button>
</body>
</html>
