<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>main</title>
</head>
<body>
    <header class="header">
        <div class="f">

            <input type="text" name="input" placeholder="검색어를 입력해주세요">

            <div class="box">
                <img src="bear.jpg" alt="프로필" class="profile">
            </div>
        </div>
        <div class="chart">
            <button class="array_botton">최신순</button>
            <button class="array_botton">인기순</button>
            <button class="array_botton">가격 낮은 순</button>
        </div>
        
    </header>
    <hr>
    <div class="item">
            <img src="bear.jpg" alt="예시사진" class="ex_img">
            <div class="num">수량 <br>3</div>
            <div class="contain3">
            <div class="item_box">
                <img src="heart-outline.svg" alt="하트" class="heart">
                <div class="item_name">스팸</div>
            </div>
            <div class="contain2">
            <div class="per_price">
                <div>1인당 예상 금액</div>
                <div id="est_price">6000원</div>
            </div>
            <div  class="human_part">
                <img src="Vector.svg" alt="사람" class="human">
                <div class="part">8/10</div>
            </div>
        </div>
        </div>
    </div>
    <button class="write_botton">
        <img src="Group 1.svg" alt="글쓰기" class="write">
    </button>
</body>
</html>