<!DOCTYPE html>
<html>
    <head>
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <div id="image">
            <img src="https://www.elysian.co.kr/upload/facility/20210914172146290.jpg" width="200px"/>
        </div>
        <div id="user_proflie">
            <div>
                user icon
            </div>
            자유로운다람쥐6581
            <button>공구 확정</button>
        </div>
        <div id="title">
            <strong>
                <h1>스키</h1> 
                <div>
                    write icon
                </div>
            </strong><br/>
            10분전<br/>
        </div>
        <div id="detail_content">
            <p>
                <strong>
                <h3>
                수량 (인당)  
                3개 <br/>
                총 가격  
                300000원 <br/>
                거래장소 
                성신여대입구역 <br/>
                </h3>
                </strong>
            </p>
            <p>
                스키시즌권 가져왔습니다^^
            </p>
            <div id="join_info">
                <div>
                    person icon
                </div>
                28/30
            </div>
            <button>취소할래요!</button>
        </div>
        <div id="comment">
            comment icon
            0 comment<br/>
        </div>
    </body>
</html>