<!DOCTYPE html>
<html>
    <head>
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <div id="image">
            <img src="https://shop-phinf.pstatic.net/20230426_161/16824892409629aBxK_JPEG/20570098084208699_1101757077.jpg?type=m510" width="200px"/>
        </div>
        <div id="user_proflie">
            <div>
                user icon
            </div>
            노래부르는코알라2593
        </div>
        <div id="title">
            <strong>
                <h1>스팸</h1>
            </strong><br/>
            10분전<br/>
        </div>
        <div id="detail_content">
            <p>
                <strong>
                <h3>
                수량 (인당)  
                3개 <br/>
                총 가격  
                48000원 <br/>
                거래장소 
                성신여대입구역 <br/>
                </h3>
                </strong>
            </p>
            <p>
                저는 공구에 적합한 인재입니다.
            </p>
            <div id="join_info">
                <div>
                    person icon
                </div>
                28/30
            </div>
            <button>참여할래요!</button>
        </div>
        <div id="comment">
            <div id="comment-top">
                comment icon
                0 comment<br/>
            </div>
            <div>
                <div>user icon</div>
                자유로운다람쥐6581<br/>
                얼른 참여하세요
            </div>
        </div>
    </body>
</html>